@media screen and (max-width: 26rem) {
    .groupsContainer {
        display: flex;
        flex-direction: column;
    }

    .groupsContainer .group {
        margin: 0.5rem 0;
    }
}

@media screen and (min-width: 26rem) {
    .groupsContainer {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
        grid-auto-rows: 12rem;
    }
}

.groupsContainer {
    width: CALC(100% - 2rem);
    margin: 1rem;
}

.groupsContainer .group {
    background: rgba(255, 255, 255, 1);
    padding: 2rem;
    border-radius: 0.2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    transition: transform 300ms ease;
}

.groupsContainer .group:hover {
    transform: scale(1.03);
}

a.newGroupLink {
    background-color: #3778c2;
    border-radius: 0.15rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    color: aliceblue;
    text-decoration: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    font-weight: normal;
}

a.newGroupLink:hover {
    font-weight: bolder;
}

div.groupInfoCard {
    background: rgba(255, 255, 255, 1);
    padding: 2rem;
    border-radius: 0.2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    width: CALC(100% - 2rem);
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}

div.newGroupInputs {
    display: flex;
    flex-direction: column;
    width: CALC(100% - 2rem);
    margin: 1rem;
    align-items: center;
    background: rgba(255, 255, 255, 1);
    padding: 2rem;
    border-radius: 0.2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

div.newGroupInputs > * {
    width: 25rem;
    margin: 1rem;
    font-size: inherit;
}

input.newGroupName {
}

textarea.newGroupDescription {
}

button.submitNewGroup {
    background-color: #3778c2;
    border-radius: 0.15rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: aliceblue;
    text-decoration: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    border: none;
}

.postTag {
    background: lightblue;
    border-radius: 0.3rem;
    padding: 0.3rem;
    margin: 0.3rem;
    float: right;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
}
