.smallLink a{
    color: #0F2557
}
  
.smallLink a:hover,
.smallLink a:focus,
.smallLink a:active {
    text-decoration: underline;
}
  
.smallLink {
    text-align: center;
}
  
.smallLink {
    line-height: 1.5;
    font-size: 1rem;
}

.description a {
    color: #0F2557;
  }

.description {
    text-align: start;
}

.description {
    line-height: 1.5;
    font-size: 0.8rem;
}

.date {
    font-size: 0.65rem;
}

.card {
    margin: 1rem;
    flex-basis: 45%;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
  }


.subtitle {
    font-size: 22.5px;
}

