.card {
    margin: 1rem;
    flex-basis: 45%;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    background-color: white;
    text-decoration: none;
    border: 1px solid #292929;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
}
